page-todo-list {
    .second {
        background-color: cornflowerblue;
    }

    .third {
        background-color: lighten(cornflowerblue, 20%);
    }

    .forth {
        background-color: lighten(cornflowerblue, 30%);
    }

    .snoozed {
        background-color: sandybrown;
    }
}
