page-todo-list {
    .second {
        background-color: cornflowerblue;
    }

    .third {
        background-color: lighten(cornflowerblue, 20%);
    }

    .forth {
        background-color: lighten(cornflowerblue, 30%);
    }

    //class for snoozed items, it is possible to add here "display: none" or "visibility: hidden"
    .snoozed {
        background-color: sandybrown;
    }
}
