page-todo-list {
    .secondary {
        background-color: cornflowerblue;
    }

    .third {
        background-color: lighten(cornflowerblue, 20%);
    }

    .forth {
        background-color: lighten(cornflowerblue, 30%);
    }
}
