<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Todo List</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ng-container *ngFor="let item of items | keys">
            <ng-container *ngFor="let second of item.value | keys">

                <ng-container *ngIf="isString(second.value); then stringProperty else objectProperty"></ng-container>

                <ng-template #stringProperty>
                    <ion-item-sliding>
                        <ion-item class="second">
                            {{ second.value }}
                        </ion-item>
                        <ion-item-options side="right">
                            <button ion-button color="primary">
                                <ion-icon name="mail"></ion-icon>
                                Email
                            </button>
                        </ion-item-options>
                    </ion-item-sliding>
                </ng-template>

                <ng-template #objectProperty>
                    <ng-container *ngFor="let third of second.value | keys">
                        <ng-container *ngIf="isString(third.value); then stringPropertyThird else objectPropertyThird"></ng-container>

                            <ng-template #stringPropertyThird>
                                <ion-item-sliding>
                                    <ion-item class="third" >
                                        {{ third.value }}
                                    </ion-item>
                                    <ion-item-options side="right">
                                        <button ion-button color="primary">
                                            <ion-icon name="mail"></ion-icon>
                                            Email
                                        </button>
                                    </ion-item-options>
                                </ion-item-sliding>
                            </ng-template>

                            <ng-template #objectPropertyThird >
                                <ion-item-sliding *ngIf="!third.value.snoozed_until">
                                    <ion-item class="forth">
                                        {{ third.value.title }}
                                    </ion-item>
                                    <ion-item-options side="right">
                                        <button ion-button color="primary">
                                            <ion-icon name="mail"></ion-icon>
                                            Email
                                        </button>
                                    </ion-item-options>
                                </ion-item-sliding>
                            </ng-template>

                    </ng-container>
                </ng-template>
            </ng-container>
        </ng-container>
    </ion-list>
</ion-content>
