<ion-menu [content]="content">

    <ion-header>
    <ion-toolbar>
    <ion-title>Pages</ion-title>
    </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
              <ion-item-group *ngFor="let key of objectKeys(pages)">
                <ion-item-divider color="light">{{key}}</ion-item-divider>
                <button ion-item *ngFor="let page of pages[key]" (click)="openPage(page)">
                    {{page.title}}
                </button>
            </ion-item-group>
        </ion-list>
    </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
